.body {
    background-color: rgb(185, 253, 255);
}

.header {
    width: 100%;
    height: 90px;
    background-color: rgb(14, 70, 102);
    position:fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    border-style:double;
    border-color: rgb(27, 124, 163);
}

.nav {
    display: flex;
    justify-content: center;
    height: 100% ; 
}

.nav_link {
    display: flex;
    align-items: center;
    padding: 0 20px;
    color:#ccf1ff;
    text-decoration-style:solid;
}

.input {
    margin-left:auto;
    margin-right:-52%;
    display:block;
    margin-top: 3.1%;
    margin-bottom:0%; 
    width: 20%;
    height: 30%; 
    border-radius: 10px; 
}

.button {
    background-color:rgb(70, 218, 218);
    margin-left:auto;
    margin-right:5%;
    display:block;
    margin-top:3%;
    margin-bottom:0%;
    width: 6%;
    height: 34%;
    border-radius: 10px; 
}